.row.social.fullWidth {
  max-width: none;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Avenir", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  background-color: #3c5191;
}
.row.social.fullWidth .streamHolder {
  display: table-cell;
  border: 3px solid white;
}
.row.social.fullWidth .streamHolder#facebookStreamHolder {
  border-right: 1px solid white;
  border-left: none;
  border-bottom: none;
  background-color: #3c5191;
  padding-right: none;
}
@media screen and (max-width: 768px) {
  .row.social.fullWidth .streamHolder#facebookStreamHolder {
    border-right: none;
  }
}
.row.social.fullWidth .streamHolder#twitterStreamHolder {
  border-left: 2px solid white;
  background-color: #2975b3;
  padding-left: none;
  border-right: none;
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .row.social.fullWidth .streamHolder#twitterStreamHolder {
    border-left: none;
  }
}

.facebookBobble {
  background-color: #3c5191;
  background-size: auto 80%;
  background-image: url("../img/logos/facebook.png");
  background-position: 35% 100%;
}

.theFbPost.postFormat {
  max-width: 580px !important;
}
.theFbPost.postFormat:first-of-type {
  margin-top: 30px !important;
}
@media screen and (max-width: 768px) {
  .theFbPost.postFormat:last-of-type {
    margin-bottom: 180px !important;
  }
}
.theFbPost.postFormat .fbPostWrap {
  background-color: #405597;
  padding: 16px;
}
.theFbPost.postFormat .fbPostWrap .preContent .userNameWrap {
  text-align: left;
}
.theFbPost.postFormat .fbPostWrap .preContent .timeWrap {
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}
.theFbPost.postFormat .fbPostWrap .preContent .timeWrap p {
  font-weight: 200;
}
.theFbPost.postFormat .fbPostWrap .content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.theFbPost.postFormat .fbPostWrap .content .fbPostTextWrap p {
  line-height: 1.4em;
}
.theFbPost.postFormat .fbPostWrap .postContent * {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.2em;
}
.theFbPost.postFormat .fbPostWrap .postContent i {
  margin: 0px 5px;
}
.theFbPost.postFormat .fbPostWrap .postContent .likeWrap {
  text-align: right;
}
.theFbPost.postFormat .fbPostWrap:after {
  content: " ";
  height: 2px;
  width: 52px;
  display: block;
  position: absolute;
  background-color: #405597;
  top: 50%;
  left: 100%;
  margin-top: -1px;
}
@media screen and (max-width: 768px) {
  .theFbPost.postFormat .fbPostWrap:after {
    height: 52px;
    width: 2px;
    top: 100%;
    left: 50%;
    margin-bottom: -52px;
    margin-left: -1px;
  }
}
.theFbPost.postFormat .authorColumn img {
  border: 2px solid #405597;
}
.theFbPost.postFormat.alternate .fbPostWrap:after {
  content: " ";
  height: 2px;
  width: 52px;
  display: block;
  position: absolute;
  background-color: #405597;
  top: 50%;
  left: 0;
  margin-left: -52px;
  z-index: 0;
  margin-top: -1px;
}
@media screen and (max-width: 768px) {
  .theFbPost.postFormat.alternate .fbPostWrap:after {
    height: 52px;
    width: 2px;
    top: 0%;
    left: 50%;
    margin-top: -52px;
    margin-left: -1px;
  }
}

.twitterBobble {
  background-color: #2975b3;
  background-size: 80% auto;
  background-image: url("../img/logos/twitter.png");
}

.theTweet.postFormat {
  max-width: 580px !important;
}
.theTweet.postFormat:first-of-type {
  margin-top: 30px !important;
}
@media screen and (max-width: 768px) {
  .theTweet.postFormat:last-of-type {
    margin-bottom: 90px !important;
  }
}
.theTweet.postFormat .tweetWrap {
  background-color: #2aa8eb;
  padding: 16px;
}
.theTweet.postFormat .tweetWrap .preContent .userNameWrap {
  text-align: left;
}
.theTweet.postFormat .tweetWrap .preContent .timeWrap {
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}
.theTweet.postFormat .tweetWrap .preContent .timeWrap p {
  font-weight: 200;
}
.theTweet.postFormat .tweetWrap .content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.theTweet.postFormat .tweetWrap .content .tweetTextWrap p {
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200;
}
.theTweet.postFormat .tweetWrap .tweetContent * {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.2em;
}
.theTweet.postFormat .tweetWrap .tweetContent i {
  margin: 0px 5px;
}
.theTweet.postFormat .tweetWrap .tweetContent .retweetWrap {
  text-align: right;
}
.theTweet.postFormat .tweetWrap:after {
  content: " ";
  height: 2px;
  width: 52px;
  display: block;
  position: absolute;
  background-color: #2aa8eb;
  top: 50%;
  left: 100%;
  margin-top: -1px;
}
@media screen and (max-width: 768px) {
  .theTweet.postFormat .tweetWrap:after {
    height: 52px;
    width: 2px;
    top: 100%;
    left: 50%;
    margin-bottom: -52px;
    margin-left: -1px;
  }
}
.theTweet.postFormat .authorColumn img {
  border: 2px solid #2aa8eb;
}
.theTweet.postFormat.alternate .tweetWrap:after {
  content: " ";
  height: 2px;
  width: 52px;
  display: block;
  position: absolute;
  background-color: #2aa8eb;
  top: 50%;
  left: 0;
  margin-left: -52px;
  z-index: 0;
  margin-top: -1px;
}
@media screen and (max-width: 768px) {
  .theTweet.postFormat.alternate .tweetWrap:after {
    height: 52px;
    width: 2px;
    top: 0%;
    left: 50%;
    margin-top: -52px;
    margin-left: -1px;
  }
}
