$fbBlue: rgb(60,81,145);
$twitterBlue: rgb(41,117,179);
$twitterBlueLight:rgb(42,168,235);
$fbBlueLight: rgb(64,85,151);
$orange: rgb(239,123,56);
$font1: "Quicksand", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font3: "Avenir", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$gray: rgb(215,215,215);
$reveal-position-top: 0px;

//mixins

//gently embossed boxes
@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}
//gentle text-pressed effect
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}
//for use on logos and images, thanks to screen readers
@mixin hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
//vendored border-radiuses that were dropped in bourbon 3 (prematurely, in my opinion)
@mixin border-radius($radius) {

-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius;
}
//cross-browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
//truncates text with an ellipsis
@mixin text-truncate {
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
//sexy clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//functions


@function white($opacity){
    @return rgba(255,255,255,$opacity)
}